* {
    font-size: 14px;
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--nav-bar-background-color);
}

.wrapper {
    height: 100%;
    width: 100%;

    background-color: var(--nav-bar-background-color);
}

.user-interface-wrapper {
    position: fixed;
    top: 38px;

    display: flex;

    width: calc(100% - 1px);
    height: calc(100% - 38px);
    border-right: 1px solid var(--nav-bar-background-color);
}

/** scrollbar styles */

::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-thumb { background-color: var(--scroll-bar-thumb-background-color); }
::-webkit-scrollbar-thumb:hover { background-color: var(--scroll-bar-thumb-background-color-hover); }
::-webkit-scrollbar-corner { background-color: rgba(0,0,0,0); }

/** window controls styles */

.window-controls-wrapper {
    display: flex;

    margin-left: auto;
    flex-flow: row;
}

.window-controls {
    z-index: 1;

    -webkit-app-region: no-drag;

    width: 46px;
    height: 100%;
}

.window-controls:hover {
    background-color: var(--title-bar-button-background-color-hover);
}

.window-controls-minimize {
    background-image: url("../images/window-controls-minimize-light.png");
    background-repeat: no-repeat;
    background-position: center;
}

.window-controls-maximize {
    background-image: url("../images/window-controls-maximize-light.png");
    background-repeat: no-repeat;
    background-position: center;
}

.window-controls-close {
    background-image: url("../images/window-controls-close-light.png");
    background-repeat: no-repeat;
    background-position: center;
}

.window-controls-close:hover {
    background-image: url("../images/window-controls-close-light-highlighted.png");
    background-color: #c52631;
}

/** title bar styles */

.title-bar {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;

    width: 100%;
    height: 38px;

    background-color: var(--title-bar-background-color);
}

.title-bar-drag-region {    
    -webkit-app-region: drag;
    user-select: none;
    
    position: absolute;
    top: 5px;

    width: calc(100% - 5px);
    height: 38px;
}

.title-bar-button {
    z-index: 1;

    -webkit-app-region: no-drag;

    padding: 0 8px;
}

.title-bar-button:hover {
    background-color: var(--title-bar-button-background-color-hover);
}

.title-bar-button-name {
    user-select: none;

    position: relative;
    top: 9px;

    font-family: var(--title-bar-button-text-font-family);
    color: var(--title-bar-button-text-color);
}

/** menu bar styles */

.menu-bar {
    display: flex;

    flex-shrink: 1;
}

/** nav bar styles */

.nav-bar {
    z-index: 1;

    display: flex;
    flex-flow: column;

    width: 50px;
    height: 100%;

    background-color: var(--nav-bar-background-color);
}

.nav-bar-item {
    height: 50px;
    min-height: 25px;
}

.nav-bar-item-cursor {
    background-image: url("../images/nav-bar-item-cursor.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar-item-cursor:hover {
    background-image: url("../images/nav-bar-item-cursor-highlighted.png");
    background-color: black;
}

.nav-bar-item-pencil {
    background-image: url("../images/nav-bar-item-pencil.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar-item-pencil:hover {
    background-image: url("../images/nav-bar-item-pencil-highlighted.png");
}

.nav-bar-item-eraser {
    background-image: url("../images/nav-bar-item-eraser.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar-item-eraser:hover {
    background-image: url("../images/nav-bar-item-eraser-highlighted.png");
}

/** text editor styles */

.text-editor-wrapper {
    flex: 1;

    width: 100%;
    height: calc(100% - 1px);
}

.text-editor-content {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: row wrap;
    
    overflow: auto;
}

.line-numbers-wrapper {
    display: flex;
    flex-flow: column wrap;
    
    background-color: var(--editor-textarea-background-color);
}

.line-numbers-wrapper span {
    user-select: none;

    position: relative;
    top: 2px;

    width: 1.7em;
    text-align: center;
    
    font-family: var(--editor-textarea-text-font-family);
    font-size: var(--editor-textarea-text-font-size);
    color: var(--editor-line-numbers-text-color);
}

.text-editor-textarea {
    flex: 1;

    outline: none;
    border: none;
    overflow: hidden;
    overflow-x: visible;
    resize: none;

    background-color: var(--editor-textarea-background-color);
    
    font-family: var(--editor-textarea-text-font-family);
    font-size: var(--editor-textarea-text-font-size);
    color: var(--editor-textarea-text-color);   
    
    white-space: nowrap;

    cursor: default;
}

.text-editor-textarea::selection {
    background-color: var(--editor-textarea-text-background-color-highlight);
}

/** text editor canvas styles */

.text-editor-canvas {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

}